AIRTABLE_API_KEY=pat8IKEC77oqtGJOE.7b7ea1c14cfeb936fe40beaa659433d330b57c10a6813135c9575247bc94f55e
AIRTABLE_BASE_ID=appKzpELclEbBEPze
AIRTABLE_TABLE_ID=tblLku1vGUtbgaQCv
AIRTABLE_REVERSE_ID=tblhFhJVO5AHedZCu
AIRTABLE_USERS_TABLE_ID=tblyg23CIRGKJlGyX