AIRTABLE_API_KEY=patDqSs6jhmR6MbzC.fc307267a4129bc6ff177da0322e566136819e3b5eb7d579d201fa482593c458
AIRTABLE_BASE_ID=appKzpELclEbBEPze
AIRTABLE_TABLE_ID=tblhFhJVO5AHedZCu
AIRTABLE_REVERSE_ID=tblLku1vGUtbgaQCv
AIRTABLE_USERS_TABLE_ID=tblyg23CIRGKJlGyX
SESSION_SECRET=40Wwww4vD1yUw5UVvQaiZ57MDudpePpzPB5kI0GlNWb0ZMWIUmNPvB/ey5oisgxgM/JHDPyHhbU64+bWbp5+yg==
